
@font-face{
font-family: ranchers-regular;
src: url(../font/Ranchers-Regular.ttf);
}

*{
box-sizing: border-box;
margin: 0;
font-family: 'ranchers-regular';
background-color: #ffffe0;


h1{
margin: 0 0;
color: $main;
padding-bottom: 1.5em;
text-align: center;
font-size: 3em;
text-shadow: 5px 5px 15px $main;
 }
}